<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Voting Experiment</h1>
        </div>
        <h1>Single-elimination tournament</h1>
        <blockquote>
            <p>
                A single-elimination, is a type of elimination tournament where the loser of each match-up is immediately eliminated from winning the tournament.
                Each winner will play another in the next round, until the final match-up, whose winner becomes tournament champion.
            </p>
            <footer>Wikipedia</footer>
        </blockquote>
        <br />
        <br />
        <h4>Below you is a picture demonstrating a classic single elimination design :</h4>
        <br />
        <img src="../../Images/singleElimination.png" class="img-rounded" alt="Google+" width="800" height="600">
        <br />
        <br />
        <h4>I intend to use this method upon 4 different pictures in order to find a winner picture.</h4>
        <h4>Please proceed to the next stage and take a look at these pictures.</h4>
        <button type="button" class="btn btn-primary btn-block">Next Stage</button>
    </div>
</body>
</html>
