<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../../css/RandomPairingTest/ShowRandomPairing.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Single Elimination Experiment</h1>
        </div>
        <div class="form-group row">
            <h3>Before you random pairings of the 4 previous pictures.</h3>
            <h3>A public voting will be made to select the single winner.</h3>
            <p>Please look at these pairings and move on to the next stage to find out the winning picture.</p>
            <br />
            <divImg>
                <img src="../../Images/image1.jpg" class="img-rounded" alt="Google+" width="250" height="200">
                <div class="panel" id="textxPadding"></div>
                <h2>Vs.</h2>
                <div class="panel" id="textxPadding"></div>
                <img src="../../Images/image2.jpg" alt="Google+" class="img-rounded" width="250" height="200">
            </divImg>
                <div class="panel" id="gameplay-baseball-field"></div>
            <divImg>
                <img src="../../Images/image3.jpg" alt="Google+" class="img-rounded" width="250" height="200">
                <div class="panel" id="textxPadding"></div>
                <h2>Vs.</h2>
                <div class="panel" id="textxPadding"></div>
                <img src="../../Images/image4.jpg" alt="Google+" class="img-rounded" width="250" height="200">
            </divImg>
        </div>
    </div>
   

</body>
</html>
