<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../Scripts/PreTesting/ExperimenterProfile.js"></script>
</head>
<body>
    <div class="container">
            <div class="jumbotron">
                <h1>Voting Experiment</h1>
            </div>
        <h3>Information About You</h3>
        <br />
        <br />
        <form id="profileForm" onsubmit="myFunction(event)" action="PreTestingRanking.html">
            <div class="form-group row" data-toggle="validator">
                <div class="col-xs-3">
                    <label for="ex1">What is your age ?</label>
                    <input class="form-control" id="age" type="number" min="14" max="100" required="true">
                    <br />
                    <label for="ex1">Please select your gender</label>
                    <select class="form-control" id="gender" required>
                        <option disabled selected value> -- select an option -- </option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br />
                    <label for="ex1">Please select your education level</label>
                    <select class="form-control" id="educationLevel" required>
                        <option disabled selected value> -- select an option -- </option>
                        <option>High School</option>
                        <option>Undergraduate</option>
                        <option>B.sc./B.A or Higher</option>
                    </select>
                    <br />
                    <br />
                        <button id="nextStageBtn" type="submit" class="btn btn-primary btn-lg">Next Stage</button>
                </div>

            </div>
        </form>
    </div>
</body>
</html>
