<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../../css/PreTesting/ExperimenterTest.css" rel="stylesheet" />
    <script src="../../Scripts/PreTesting/ExperimenterTest.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" id="firstRow">
            <div class="jumbotron">
                <h1>Voting Experiment</h1>
            </div>
            <h2>Please answer the follwing questions to make sure you understood the instructions.</h2>
            <br />
            <div class="col-sm-4 form-horizontal">
                <h4>How many pictures were shown in the previous page ?</h4>
                    <div class="form-group">
                        <label for="sel1">Number of Pictures:</label>
                        <select class="form-control" id="picNum" required>
                            <option disabled selected value> -- select an option -- </option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <h4>What was the pictures main theme ?</h4>
                    <div class="form-group">
                        <label for="sel2">Pictures Theme:</label>
                        <select class="form-control" id="picTheme" required>
                            <option disabled selected value> -- select an option -- </option>
                            <option>Architecture</option>
                            <option>Nature</option>
                            <option>Fashion</option>
                        </select>
                    </div>
                    <h4>How is the winner picture determined ?</h4>
                    <div class="form-group">
                        <label for="sel2">Winner Picture:</label>
                        <select class="form-control" id="winnerMethod" required>
                            <option disabled selected value> -- select an option -- </option>
                            <option>Randomly</option>
                            <option>Winner picture is not needed</option>
                            <option>By public voting</option>
                        </select>
                    </div>
                <a href="PreTestingIntroduction.html">
                    <button id="backBtn" type="button" class="btn btn-primary btn-lg">Back</button>
                </a>
                </div>
            </div>
            <div class="row">
                <br />
                    <button id="nextStageBtn" type="button" class="btn btn-primary btn-lg btn-block">Next Stage</button>
                </div>
                <br />
           </div>               

</body>
</html>
