<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Voting Experiment</h1>
        </div>
        <h3>Please answer the following question carefully, regarding the future voting of the pictures.</h3>
        <h3>Submit your answers when you are done.</h3>
        <br />
        <h4>First picture</h4>
        <img src="../Images/image1.jpg" class="img-rounded" alt="Cinque Terre" width="600" height="400">
        <br />
        <h3>I will be satisfied if the first picture will be the winner.</h3>
        <h4>Rate the picture from 1-10.</h4>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="ex1">1 means strongly disagree, 10 means strongly agree</label>
                <input class="form-control" id="img1Rating" type="number" min="1" max="10" required>
            </div>
        </div>
        <h4>Second picture</h4>
        <img src="../images/image2.jpg" class="img-rounded" alt="Cinque Terre" width="600" height="400">
        <br />
        <h3>I will be satisfied if the second picture will be the winner.</h3>
        <h4>Rate the picture from 1-10.</h4>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="ex1">1 means strongly disagree, 10 means strongly agree</label>
                <input class="form-control" id="img2Rating" type="number" min="1" max="10" required>
            </div>
        </div>
        <h4>Third picture</h4>
        <img src="../images/image3.jpg" class="img-rounded" alt="Cinque Terre" width="600" height="400">
        <br />
        <h3>I will be satisfied if the third picture will be the winner.</h3>
        <h4>Rate the picture from 1-10.</h4>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="ex1">1 means strongly disagree, 10 means strongly agree</label>
                <input class="form-control" id="img3Rating" type="number" min="1" max="10" required>
            </div>
        </div>
        <h4>Fourth picture</h4>
        <img src="../images/image4.jpg" class="img-rounded" alt="Cinque Terre" width="600" height="400">
        <br />
        <h3>I will be satisfied if the fourth picture will be the winner.</h3>
        <h4>Rate the picture from 1-10.</h4>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="ex1">1 means strongly disagree, 10 means strongly agree</label>
                <input class="form-control" id="img4Rating" type="number" min="1" max="10" required>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-block">Submit</button>        
    </div>
</body>
</html>
